@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ----------------
*  GENERAL
*  ----------------*/
body {
  color: #ffffff;
  background: var(--brand);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

h3 {
  font-size: 1.3em !important;
  font-weight: bold;
}

h4 {
  font-size: 0.9em !important;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HINTS */
h1.hint {
  display: block;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 42px;
  max-width: 600px;
  text-align: center;
  margin-top: 100px;
}

.hint h2 {
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 20px !important;
  /*max-width: 600px;*/
}

.hint.select-bg {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 200px;
  width: 600px;
  padding-left: 40px;
}

.hint.select-bg svg {
  float: left;
}

.hint.sidebar-settings {
  display: inline-block;
  position: absolute;
  top: 300px;
  max-width: 400px;
}

.hint svg {
  fill: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

/* COLORS */
:root {
  --brand: #4A3C40;
  --brand-dark: #251E20;
  --accent: #FBB12A;
  --accent-hover: #216ADA;
}

/* Layout (sidebar + main) */
#settings {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  margin: 0;
}

#sidebar {
  background: var(--brand-dark);
  max-width: 320px;
  width: 320px;
  padding: 0;
  margin: 0;
}

/* Fix iframe position aligned to the pos-left
There is pos-left (left:20px) but in settings
we have the left sidebar (width:350px).
This is ONLY for the settings, does not affects
the 'real' use of the widget. */
#scp_iframe_general.pos-left-settings {
  left: 360px;
}

#main {
  margin: 0;
  flex: 2;
  padding: 40px;
}

/* General style for buttons */
a.btn,
button.btn {
  background: var(--accent);
  color: var(brand-dark);
  padding: 8px 24px;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

a.btn:hover,
button.btn:hover {
  background: var(--accent-hover);
  color: #ffffff;
}

/* General effect for selected items*/
.selected-option {
  border: 3px solid var(--accent);
}

/* Place the embed widget */
.demo-embed {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

/* ----------------
*  MAIN
*  ----------------*/
/* Change background tool */
#select-bg {
  background-color: rgba(180, 180, 180, 0.5);
  padding: 8px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  display: inline-block;
  position: absolute;
  top: 0;
}

#select-bg .options {
  display: flex;
}

#select-bg input + label.btn {
  margin: 4px;
  padding: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#select-bg input + label.btn:hover {
  border: 3px solid var(--accent-hover);
}

#select-bg .btn-check:active + .btn,
#select-bg .btn-check:checked + .btn {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 3px solid var(--accent);
}

/* 4 backgrounds to apply to #main */
.bg-light {
  background-color: #DEDEDE;
}

.bg-dark {
  background-color: #212121;
}

.bg-brand {
  background-color: var(--brand);
}

.bg-image {
  background: url("img/image-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------
*  SIDEBAR
*  ----------------*/
#sidebar {
  /* Top title */
}

#sidebar .title {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

#sidebar .title a {
  margin-right: 20px;
}

#sidebar .title svg:hover {
  fill: var(--accent-hover);
}

#sidebar .sidebar-footer {
  padding: 20px;
}

/* Tabs */
#tabOptions {
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}

#tabOptions button {
  font-weight: bold !important;
  text-transform: uppercase;
  color: #938F90;
  border: 0;
}

#tabOptions .active {
  color: var(--accent);
  background-color: #342A2D;
}

.tab-content {
  background-color: #342A2D;
  padding: 20px;
  /*margin-bottom: 40px;*/
}

body.settings-tutorial {
  font-size: 0.9em;
}

body.settings-tutorial .tutorial {
  padding: 0 20px;
}

body.settings-tutorial p,
body.settings-tutorial small {
  color: rgba(255, 255, 255, 0.6);
}

body.settings-tutorial h4 {
  font-size: 1.2em !important;
  color: #ffffff;
  font-weight: bold;
}

body.settings-tutorial hr {
  margin: 40px 0;
}

body.settings-tutorial .codes {
  max-width: 650px;
  margin: 0 auto;
}

body.settings-tutorial .codes .form-code {
  padding-top: 20px;
  padding-bottom: 20px;
}

body.settings-tutorial .codes small {
  display: block;
}

body.settings-tutorial .codes .form-check {
  margin-bottom: 20px;
}

body.settings-tutorial .codes a.btn {
  display: inline-block !important;
}

body.settings-tutorial .codes .wcode {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin-bottom: 8px;
}

/* ----------------
*  FORMS
*  ----------------*/
/* Each group of options (h4 + form controls)*/
.options-group {
  margin-bottom: 20px;
  /* Each group of options by default */
  /* If there are buttons only as options */
  /* If there are buttons only as options */
}

.options-group button.btn[type="submit"] {
  background: var(--accent);
  color: var(brand-dark);
  padding: 4px 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.options-group button.btn[type="submit"]:hover {
  background: var(--accent-hover);
  color: #ffffff;
}

.options-group .options {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.options-group .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  /* Each group: input + label + small */
  /* General aspect and alignment */
  /* Text under buttons */
  /* Center button label using span */
}

.options-group .buttons > div {
  text-align: center;
  padding: 4px;
  /* Full width */
  min-width: 50%;
  flex-grow: 1;
}

.options-group .buttons label.btn {
  color: #212121;
  background-color: #BBB8B9;
  border: 3px solid transparent;
  height: 70px;
  font-size: 0.9em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.options-group .buttons small {
  display: block;
  font-size: 0.8em;
  margin-top: 4px;
}

.options-group .buttons label.btn span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.options-group .templates {
  display: flex;
  flex-flow: column;
  /* Each group: input + label + small */
  /* General aspect and alignment */
  /* Text under buttons */
  /* Image adjustment */
}

.options-group .templates > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}

.options-group .templates label.btn {
  color: #212121;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  height: 100px;
  font-size: 0.9em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-group .templates small {
  display: block;
  font-size: 0.8em;
  margin-top: 4px;
}

.options-group .templates label.btn img {
  max-height: 90px;
}

.options-group input + label.btn:hover {
  border: 3px solid var(--accent-hover);
}

.options-group .btn-check:active + .btn,
.options-group .btn-check:checked + .btn {
  border: 3px solid var(--accent) !important;
}

/* -----------------------------------
* OPTIONS FOR EACH TYPE OF SETTINGS
* ----------------------------------- */
/* 1. TEMPLATE OPTIONS
----------------------------------- */
.options-group.opt-template {
  padding: 20px;
}

.options-group.opt-template .options {
  background-color: transparent;
}

/* 2. THEME OPTIONS */
#btn-theme-light + .btn {
  background-color: #ffffff;
  color: #212121;
}

#btn-theme-dark + .btn {
  background-color: #212121;
  color: #ffffff;
}

/* 3. BACKGROUND OPTIONS */
#btn-wbg-light + .btn {
  background-color: #ffffff;
  color: #212121;
}

#btn-wbg-dark + .btn {
  background-color: #212121;
  color: #ffffff;
}

#btn-wbg-none + .btn {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

/* 3. POSITION OPTIONS
----------------------------------- */
.opt-position .options label {
  position: relative;
}

.opt-position .options label img {
  display: block;
}

#btn-pos-center-left + .btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

#btn-pos-center-right + .btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

#btn-pos-left + .btn {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-start;
}

#btn-pos-right + .btn {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

/* 4. COLOR OPTIONS
----------------------------------- */
.opt-color .options {
  display: flex;
  flex-direction: row;
}

.opt-color .options input {
  margin-right: 20px;
}

/* 5. SCOPE OPTIONS
----------------------------------- */
/* When placed inside #main (first page) */
#main .options-group.opt-scope {
  max-width: 800px;
  margin: 0 auto 40px;
}

#main .options-group.opt-scope .options {
  flex-direction: row;
}

/* When placed inside #sidebar (each widget) */
.options-group.opt-scope .options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.options-group.opt-scope .options > div {
  padding: 8px;
  flex: 1;
}

.options-group.opt-scope .options small {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.options-group.opt-scope .options .form-search {
  min-width: 250px;
}

/* 6. SOURCE OPTIONS
----------------------------------- */
.options-group.opt-orderby .options > div,
.options-group.opt-source .options > div {
  margin: 10px;
}

.options-group.opt-orderby .options label,
.options-group.opt-source .options label {
  cursor: pointer;
}

.options-group.opt-orderby .options img,
.options-group.opt-source .options img {
  margin-right: 8px;
  width: 24px;
}

.options-group.opt-orderby .options small,
.options-group.opt-source .options small {
  display: block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* 7. REVIEWS OPTIONS
----------------------------------- */
.options-group.opt-reviews .options input {
  margin-bottom: 20px;
}

.options-group.opt-reviews .options small {
  display: block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.options-group.opt-reviews .options span {
  font-weight: bold;
  font-size: 1.2em;
  padding: 4px 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* 8. JUMB BUTTON OPTIONS
----------------------------------- */
.options-group.opt-jumpbtn .options > div {
  margin: 10px;
}

.options-group.opt-jumpbtn .options label {
  cursor: pointer;
}

.options-group.opt-jumpbtn .options small {
  display: block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* ----------------
*  RESPONSIVE
*  ----------------*/
@media screen and (max-width: 960px) {
  #main .group-control {
    /*flex-direction: column;*/
  }
}

@media screen and (max-width: 600px) {
  #select-bg {
    /*flex-direction: column;*/
  }
}
