$htab-h: 100px;
$htab-w: 235px;
$vtab-h: 220px;
$vtab-w: 60px;
$circle: 54px;
/* IFRAME */
#scp_iframe_general {
  z-index: 99999;
  position: fixed;
  margin: 0;
  border: 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  /* Max size by default */
  max-height: 80vh;
  max-width: 80vw;
  /* Default position */
  right: 20px;
  bottom: 20px;
  transition: width 0.1s, height 0.1s;
  backdrop-filter: blur(5px);
}
/* TEMPLATES */
/* Horizontal Tab */
#scp_iframe_general.htab-template {
  height: $htab-h;
  width: $htab-w;
}
/* Vertical Tab */
#scp_iframe_general.vtab-template {
  height: $vtab-h;
  width: $vtab-w;
}
/* Floating Circle */
#scp_iframe_general.circle-template {
  height: $circle;
  width: $circle;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* SIZES */
#scp_iframe_general.medium-template {
  /* Open, medium size: with sources */
  height: 410px;
  width: 235px;
}

#scp_iframe_general.large-template {
  /* Open, full size: with user comments */
  height: 600px;
  width: 800px;
}

#scp_iframe_general.embed-template {
  /* Embed, full size, height auto */
  z-index: inherit;
  position: inherit !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  max-height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 0;
}

/* BACKGROUNDS */
#scp_iframe_general.wbg-light {
  background-color:rgba(255,255,255,0.2);
}
#scp_iframe_general.wbg-dark {
  background-color:rgba(0,0,0,0.3);
}
#scp_iframe_general.wbg-none {
  background-color:transparent !important;
}

/* POSITIONS (using 'w-pos' because 'right', 'left'... are Bootstrap classes)*/
#scp_iframe_general.pos-left {
  left: 20px !important;
  right: auto;
}
/* Vertical middle for each widget format */
#scp_iframe_general.htab-template.pos-center {
  bottom: calc(50vh - 50px) !important;
  top: auto;
}

#scp_iframe_general.vtab-template.pos-center {
  bottom: calc(50vh - 110px) !important;
  top: auto;
}

#scp_iframe_general.circle-template.pos-center {
  bottom: calc(50vh - 27px) !important;
  top: auto;
}

/* Jump button for embed */
#revyoos-embed-btn {
  border:3px solid #FBB12A;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  text-transform: uppercase;
  padding:8px 24px;
  z-index:1001;
  position: fixed;
  right:20px;
  bottom:20px;
  font-weight:bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#revyoos-embed-btn.btn-light:hover,
#revyoos-embed-btn.btn-dark:hover{
  background-color:#4A3C40;
  color:#ffffff;
}

#revyoos-embed-btn.btn-light {
  background-color:#ffffff;
  color:#4A3C40;
}


#revyoos-embed-btn.btn-dark {
  background-color:#222323;
  color:#ffffff;
}

#revyoos-embed-btn span {
  margin-left:10px;
}

#revyoos-embed-btn img {
  margin-right:6px;
  height:20px;
}
