/*
THIS CSS GATHERS THE STYLES FOR ALL WIDGETS.
*/
/* -------------------------
GENERAL
---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* FLEX MIXINS */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
/* General */
body#revyoos-widget {
  font-family: "Roboto", "Arial", sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

:root {
  --user-color: #000000;
  --dark-theme-link: #719DE1;
  --dark-theme-text: #ffffff;
  --light-theme-link: #216ADA;
  --light-theme-text: #000000;
}

body#revyoos-widget.dark-theme {
  background-color: rgba(0, 0, 0, 0.7);
}

body#revyoos-widget.light-theme {
  background-color: #ffffff;
}

body#revyoos-widget.light-theme.embed-template {
  background-color: rgba(255,255,255,0.2) !important;
}

body#revyoos-widget.dark-theme.embed-template {
  background-color: rgba(0,0,0,0.3) !important;
}

#revyoos-widget.dark-theme a {
  color: var(--dark-theme-link);
}

#revyoos-widget.light-theme a {
  color: var(--light-theme-link);
}

#revyoos-widget.dark-theme p,
#revyoos-widget.dark-theme span {
  color: var(--dark-theme-text);
}

#revyoos-widget.light-theme p,
#revyoos-widget.light-theme span {
  color: var(--light-theme-text);
}

#revyoos-widget a {
  text-decoration: none;
}

#revyoos-widget a:hover {
  text-decoration: underline;
}

#revyoos-widget p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* -------------------------
TEMPLATE: VTAB
---------------------------- */
body.vtab-template {
  /* Hide other widgets */
  #circle-widget,
  #embed-widget,
  #htab-widget,
  #large-widget,
  #medium-widget {
    display: none;
  }

  #vtab-widget {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    height: 100vh;
    cursor: pointer;

    img.star {
      width: 20px;
      height: 20px;
      margin-bottom: 4px;
    }

    .revyoos-header-numrating {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    img.revyoos-pin {
      height: 34px;
      margin-bottom: 8px;
    }

    .revyoos-stars {
      display: flex;
      flex-direction: column;
    }
  }
}
/* -------------------------
TEMPLATE: HTAB
---------------------------- */
body.htab-template {
  #circle-widget,
  #embed-widget,
  #large-widget,
  #medium-widget,
  #vtab-widget {
    display: none;
  }

  #htab-widget {
    display: block;
    cursor: pointer;
  }
}
/* -------------------------
TEMPLATE: MEDIUM SIZE
---------------------------- */
body.medium-template {
  #circle-widget,
  #embed-widget,
  #htab-widget,
  #large-widget,
  #vtab-widget {
    display: none;
  }

  #medium-widget {
    display: block;
  }
}
/* -------------------------
TEMPLATE: LARGE SIZE
---------------------------- */
body.large-template {
  #circle-widget,
  #embed-widget,
  #htab-widget,
  #medium-widget,
  #vtab-widget {
    display: none;
  }

  #large-widget {
    display: block;

    .revyoos-user-reviews {
      box-sizing: border-box;
      height: calc(100vh - 115px);
      overflow-y: scroll;
    }
  }
}
/* -------------------------
TEMPLATE: EMBED
---------------------------- */
body.embed-template {
  #circle-widget,
  #htab-widget,
  #large-widget,
  #medium-widget,
  #vtab-widget {
    display: none;
  }

  #embed-widget {
    display: block;
  }
}

body.embed-template.light-theme .revyoos-header {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

body.embed-template.dark .revyoos-header {
  background-color: rgba(0, 0, 0, 0.5);
}

/* -------------------------
TEMPLATE: CIRCLE
---------------------------- */
.circle-template {
  #embed-widget,
  #htab-widget,
  #large-widget,
  #medium-widget,
  #vtab-widget {
    display: none;
  }

  #circle-widget {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;

    .revyoos-header img.star {
      width: 22px;
      height: 22px;
      margin-bottom: 2px;
    }

    .revyoos-header-numrating {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
/* -------------------------
HEADER WITH SUMMARY RATING
---------------------------- */
.revyoos-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}

.revyoos-header-rating {
  flex: 2;
  margin-left: 5px;
}

.revyoos-header img.star {
  width: 20px;
  height: 20px;
}

.revyoos-header-numrating {
  font-size: 38px;
  font-weight: bold;
  margin-left: 2px;
}

.revyoos-reviews-link {
  font-size: 14px;
}

img.revyoos-pin {
  height: 34px;
}

.revyoos-stars {
  white-space: nowrap;
}

.revyoos-stars img {
  margin-right: 2px;
}

.add-review {
  display: flex;
  flex-direction: column;
}

a.add-review-btn {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 16px;
  margin: 4px;
  background-color: #FBB12A;
  color: #4A3C40 !important;
  font-weight: bold;
}

a.add-review-btn:hover {
  text-decoration: none !important;
  filter: brightness(90%);
}
/* ------------------
NAME OF THE HOLDING
------------------- */
.revyoos-holding {
  overflow: hidden;
}

.revyoos-holding-background {
  padding: 6px 12px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  min-height: 20px;
}

.revyoos-holding-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  filter: brightness(60%);
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

a.revyoos-close-btn {
  display: flex;
  position: absolute;
  filter: brightness(60%);
  right: 12px;
  top: 6px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  margin-right: 4px;
}

.revyoos-down-btn,
.revyoos-up-btn {
  margin-left: 4px;
}

a.revyoos-close-btn:hover,
a.revyoos-down-btn:hover,
a.revyoos-up-btn:hover {
  filter: brightness(40%);
}

.revyoos-down-btn > svg > path,
.revyoos-up-btn > svg > path {
  filter: brightness(60%);
}

.revyoos-close-btn > svg {
  filter: brightness(60%);
}
/* --------------------------
LIST OF RATINGS BY SOURCES
---------------------------- */
#revyoos-ratings {
  padding: 12px;
}

.revyoos-source-rating {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.revyoos-source-icon {
  text-align: center;
}

.revyoos-source-icon img {
  width: 18px;
}

.revyoos-source-numrating {
  font-weight: bold;
  margin-left: 8px;
  margin-right: 4px;
  width: 26px;
  overflow: hidden;
}

.revyoos-source-reviewsnum {
  font-size: 12px;
  filter: opacity(50%);
}

.revyoos-source-stars {
  white-space: nowrap;
  margin-right: 4px;
}
//Horizontal in large widget

#medium-ratings {
  @include flexbox();
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 20px 0;
}

#medium-ratings .revyoos-source-rating {
  min-width: 200px;
}
/* ---------------------------
LIST OF REVIEWS AND RESPONSES
------------------------------ */
.revyoos-user-reviews .review {
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#revyoos-widget.light-theme .revyoos-user-reviews .review {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#revyoos-widget.dark-theme .revyoos-user-reviews .review {
  background-color: rgba(0, 0, 0, 0.5);
}

.review-author {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.review-stayed {
  margin-right:5px;
  font-size: 14px;
  filter: opacity(50%);
  font-weight: normal;
}

.review-prop-link {
  font-size:14px;
  font-weight: normal;
}
.review-rating {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top:6px;
}

.review-date {
  filter: opacity(50%);
  font-size: 12px;
  margin-left: 10px;
}

.review-source {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.review-source span {
  filter: opacity(50%);
  font-size: 14px;
}

.source-icon img {
  margin-right: 4px;
  height: 36px;
}

.response {
  margin: 20px 40px 0;
  padding: 10px 20px;
}

#revyoos-widget.light-theme .response {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

#revyoos-widget.dark-theme .response {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

p.response-title {
  font-weight: bold;
}

p.response-text {
  margin-top: 10px !important;
  font-size: 14px !important;
}

.load-more-link {
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
}

.load-more-link a {
  display: inline-block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 16px;
  margin: 20px;
}

.load-more-link a {
  background-color: var(--light-theme-link);
  color: #ffffff !important;
}
/* -----------------------
FOOTER WITH LINKS
-------------------------- */
#revyoos-widget.dark-theme .revyoos-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#revyoos-widget.light-theme .revyoos-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.revyoos-footer {
  text-align: center;
  padding: 12px;
}

a.add-review-btn,
a.revyoos-read-more {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 16px;
  margin: 4px;
  background-color: #FBB12A;
  color: #4A3C40 !important;
  font-weight: bold;
}

a.add-review-btn:hover {
  text-decoration: none !important;
  filter: brightness(90%);
}

// POWERED BY
.poweredby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a.revyoos-powered {
  font-size: 12px;
  filter: opacity(50%);
  margin-right: 8px;
}

//Color of "Powered by" label
#revyoos-widget.dark-theme a.revyoos-powered {
  color: var(--dark-theme-text);
}

#revyoos-widget.light-theme a.revyoos-powered {
  color: var(--light-theme-text);
}

.revyoos-footer .poweredby {
  margin-top: 8px;
}

.logo-powered {
  background-size: contain;
  background-repeat: no-repeat;
}
#revyoos-widget.light-theme .logo-powered {
  background-image: url("../img/logo-powered-light.svg");
}

#revyoos-widget.dark-theme .logo-powered {
  background-image: url("../img/logo-powered-dark.svg");
}

.revyoos-header .logo-powered {
  width: 129px;
  height: 36px;
}

.revyoos-footer .logo-powered {
  width: 77px;
  height: 21px;
}

/*#revyoos-widget.light-theme .revyoos-header .logo-powered {
  background-image: url("../img/logo-header-light.svg");
}

#revyoos-widget.dark-theme .revyoos-header .logo-powered {
  background-image: url("../img/logo-header-dark.svg");
}*/

/* ---------------------------
RESPONSIVE
------------------------------ */
@media screen and (max-width: 390px) {
  .revyoos-user-reviews {
    height: calc(100vh - 150px);
  }

  .response {
    margin: 20px;
    padding: 4px;
  }
}
@media screen and (max-width: 450px) {
  .revyoos-header .revyoos-powered {
    //hide label
    display: none;
  }
  .revyoos-header .logo-powered {
    width: 100px;
    height: 28px;
  }
  .review-stayed {
    display: none;
  }
  .review-prop-link {
    display: block;
  }

}
@media screen and (max-width: 350px) {
  .revyoos-header .poweredby {
    display: none;
  }
}
